body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header {
    background-color: #033e3e;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
  }
  
  .time-location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .time {
    font-size: 1.2em;
  }
  
  .location-button {
    background-color: #2c8c99;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .main-content {
    background-color: #e7f5f4;
    padding: 20px;
    width: 80%;
    margin: 20px;
  }
  
  .weather-info {
    text-align: center;
  }
  
  .weather-buttons button {
    background-color: #2c8c99;
    color: white;
    margin: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .weather-buttons button.active {
    background-color: #1b5858;
  }
  
  .weather-buttons button:hover {
    background-color: #1b5858;
    transform: scale(1.05);
  }
  
  .weather-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
  }
  
  .weather-grid-10-days {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 20px;
  }
  
  .weather-box {
    background-color: #6bcfcf;
    border: 2px dashed #1b5858;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    transition: transform 0.3s ease;
  }
  
  .weather-box:hover {
    transform: scale(1.05);
  }
  
  .footer {
    background-color: #033e3e;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  
  .footer button {
    background-color: #2c8c99;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .social-media {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .social-media a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
  }
  
  .social-media a:hover {
    color: #1da1f2; /* Twitter color */
  }
  